body {
  color: #2B283A;
  font-family: Inter, sans-serif;
  margin: 0;
}
p {
  margin: 0;
}
header {
  background-color: #F55A5A;
  color: #fff;
  height: 55px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  height: 100%;
}
nav img {
  width: 24px;
}
nav p {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: -7.5%;
  line-height: 100%;
}
main {
  padding: 45px 40px;
}
.entry {
  display: flex;
  gap: 19px;
  margin-bottom: 36px;
  max-width: 470px;
}
.entry-image-container {
  height: 168px;
  width: 125px;
}
.entry-image-container img {
  border-radius: 6px;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.entry-content {
  flex: 1;
}
.entry-header {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.entry-header img {
  margin-right: 4px;
  height: auto;
  width: 7px;
}
.entry-header p {
  font-size: 0.6rem;
  letter-spacing: 17%;
  line-height: 100%;
  margin: 0 12px 0 0;
  text-transform: uppercase;
}
.entry-header a {
  color: #918E9B;
  font-size: 0.6rem;
  line-height: 100%;
}
.entry-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 17px;
}
.entry-dates {
  font-size: 0.6rem;
  font-weight: 700;
  margin-bottom: 9px;
}
.entry-text {
  font-size: 0.6rem;
  line-height: 150%;
}